body{
	background-color:242424;
	margin:0;
	text-align:center;
}

.box{
	width: 550px;
	height: 100px auto;
	background-color: 1d1d1d;

	text-align:;             /* i dunni what is this */
	line-height: 50px;
	font-size:20px;

	margin:20px auto;
	border-radius: 10px;

	color: white;
	font-family:arial;

	display:grid;
	place-items: center;
}


#btn{
	display:inline-block;
	background-color:1d1d1d;
	padding:10px 20px;
	border-radius:10px;
	color:white;
	text-decoration:none;
	fone-size:20px;
	cursor:pointer;
}

#btn:hover{
	background-color:white;
	color:black;
}